@font-face {
    font-family: main;
    src: url("Gidole-Regular.otf");
}

html,
body {
    height: 100%;
    font-family: main;
    overflow-x: hidden;
}


body#signup-page {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(to bottom, rgba(52,58,64,1) 58%,rgba(24,28,33,1) 100%);
    color: #FFF;
}


body#networkbody {
    padding-top: 3rem;
    background-color: #EEE;
}

.title {
    font-size: 400%;
    text-align: center;
    margin: auto;
    margin-left: -100%;
    margin-right: -100%;
    margin-bottom: 30px;
}

.center {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    white-space: nowrap;
}

.custom-file {
    margin-bottom: 5px;
}

.custom-file-label {
    text-align: left;
    background-color: #DDD;
}

.user-form input {
    background-color: #DDD;
}

.form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-control:focus {
    z-index: 2;
}
input.top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
input.middle {
    margin-bottom: -1px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
input.bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#messages, #errors {
    display: none;
}

/* settings */
#settings-wrapper {
    z-index: 1;
    position: absolute;
    transition: left 0.5s;
    width: 350px;
    left: -350px;
    height: 94.9%;
    overflow-y: hidden;
    background: linear-gradient(to bottom, rgba(52,58,64,1) 58%,rgba(24,28,33,1) 100%);
    opacity: 0.99;
    padding: 50px 20px 0 20px;
}

#settings {
    color: white;
    border-color: #FFF;
}

#settings .col {
    margin-bottom: 30px;
}

#settings-bottom {
    bottom: 64px;
    position: inherit;
    margin: auto;
}

#settings-bottom a {
    width: 120px;
}

#settings input[type="color"] {
    border: 1px solid #000;
    border-radius: .25rem;
    opacity: 0.9;
    height: calc(2.25rem + 2px);
    width: 100%;
}

.settings-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #000;
    background-color: #DDD;
    vertical-align: middle;
    opacity: 0.9;
    font-weight: bold;
    background-size: 8px 10px;
    text-align: center;
    border: 1px solid #000;
    border-radius: .25rem;
    -webkit-appearance: none;
}

.form-control {
    height: calc(2.25rem + 2px);
}

.user-settings *:not(div) {
    background-color: #DDD;
    color: #000;
    border: 1px solid #000;
}

.user-settings button {
    background-color: #BBB;

}

.user-settings {
    margin-top: 150px;
}

#wrapper.settingsDisplayed #settings-bottom {
    position: fixed;
}


.sidebar-nav {
    list-style: none;
}

/* data */
#data-wrapper {
    z-index: 1;
    position: absolute;
    transition: right 0.5s;
    width: 350px;
    right: -350px;
    height: 94.9%;
    overflow-y: hidden;
    background: linear-gradient(to bottom, rgba(52,58,64,1) 58%,rgba(24,28,33,1) 100%);
    opacity: 0.99;
}

/* main content */
#graph-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.settingsDisplayed #settings-wrapper {
    left: 0;
}

#wrapper.settingsDisplayed #graph-wrapper {
    padding-left: 350px;
}

#wrapper.dataDisplayed #data-wrapper {
    right: 0;
}

#wrapper.dataDisplayed #graph-wrapper {
    padding-right: 350px;
}

#settings-toggle {
    z-index: 1;
}

#data-toggle {
    z-index: 1;
}

table {
    margin-top: 5px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    display: block;
    height: 100%;
    overflow: auto;
}

td, th { border: 1px solid black; height: 30px; min-width: 200px;} /* Make cells a bit taller */

th {  
    background: none;
    font-weight: bold;
    color: #FFF;
}

td {  
    background: none;
    color: #BBB;
}

